/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero--centrado-x {
	text-align: center;
}

.hero--centrado-y {
	position: relative;
	.hero__contenedor {
		@include center;
		> :last-child {
			@include no-margin-bottom;
		}
	}
}

.hero__grupo-titulos {
	@include margin-bottom-xs;
}

.hero__titulo {
	@include no-margin-bottom;
	@include font-size-hero-titulo;
	font-family: $font-family-hero-titulo;
}

.hero__subtitulo {
	@include no-margin-bottom;
	@include font-size-hero-subtitulo;
	font-family: $font-family-hero-subtitulo;
}