/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero--centrado-x {
	text-align: center;
}

.hero--centrado-y {
	position: relative;
	.hero__contenedor {
		@include center;
		> :last-child {
			@include no-margin-bottom;
		}
	}
}

.hero__grupo-titulos {
	@include margin-bottom-xs;
}

.hero__titulo {
	@include no-margin-bottom;
	@include font-size-hero-titulo;
	font-family: $font-family-hero-titulo;
}

.hero__subtitulo {
	@include no-margin-bottom;
	@include font-size-hero-subtitulo;
	font-family: $font-family-hero-subtitulo;
}

/**
 * Cambio la maquetación de .hero--centrado-y para IE8
 */

.lt-ie9 .hero--centrado-y {
	.hero__contenedor {
 		top: 60px;
 		left: 0;
 		@media (min-width: $screen-sm-min) {
 			top: 120px;
 		}
 		@media (min-width: $screen-lg-min) {
 			top: 150px;
 		}
 	}	
}