<footer>
	<div class="container">
		<div class="isla isla--0-md text-center fuente-pequena">
			<a class="logo logo--sm" href="http://www.museoreinasofia.es/">Museo Nacional Centro de Arte Reina Sofía</a>
			<p class="sin-margen">© Museo Nacional Centro de Arte Reina Sofía, 2015</p>
			<ul class="list-inline">
				<li class="text-nowrap">
					<a href="">Aviso legal</a>
				</li>
				<li class="text-nowrap">
					<a href="">Accesibilidad</a>
				</li>
				<li class="text-nowrap">
					<a href="">Contacto</a>
				</li>
			</ul>
		</div>		
	</div>
</footer>