<header role="banner">

	<nav class="navbar navbar-inverse navbar-static-top navbar--transparente">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Museo Nacional Centro de Arte Reina Sofía</a>
				<p class="navbar-text">Obra del mes</p>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="visible-xs-block">
						<a href="#">Wall Drawings</a>
					</li>
					<li class="visible-xs-block">
						<a href="">La inspiración</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Carta a José Luis Castillejo</a>
					</li>
					<li class="visible-xs-block">
						<a href="">La instalación</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Sol Lewitt</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Paragraphs on conceptual art</a>
					</li>
					<li>
						<a href="#">
							<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Compartir</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>