<header role="banner">

	<nav class="navbar navbar-inverse navbar-static-top navbar--transparente">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.museoreinasofia.es/">Museo Nacional Centro de Arte Reina Sofía</a>
				<p class="navbar-text">Obra del mes</p>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="visible-xs-block">
						<a href="#">Wall Drawings</a>
					</li>
					<li class="visible-xs-block">
						<a href="">La inspiración</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Carta a José Luis Castillejo</a>
					</li>
					<li class="visible-xs-block">
						<a href="">La instalación</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Sol Lewitt</a>
					</li>
					<li class="visible-xs-block">
						<a href="">Paragraphs on conceptual art</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#modal-compartir-1">
							<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Compartir</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Modal -->
	<div class="modal fade" id="modal-compartir-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Compartir</h4>
					</div>
					<img src="http://placehold.it/600x338" class="img-responsive">
					<div class="grid grid--xs">
						<div class="col">
							<a href="" class="btn btn-lg btn-block btn--icono btn--rectangular btn--facebook">
								<span class="btn__icono btn--facebook__icono">Facebook</span>
							</a>
						</div>
						<div class="col">
							<a href="" class="btn btn-lg btn-block btn--icono btn--rectangular btn--twitter">
								<span class="btn__icono btn--twitter__icono">Twitter</span>
							</a>
						</div>
						<div class="col">
							<a href="" class="btn btn-lg btn-block btn--icono btn--rectangular btn--google-plus">
								<span class="btn__icono btn--google-plus__icono">Google +</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>