<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- iOS icons -->
<!--
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/touch/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/touch/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/touch/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="./img/touch/apple-touch-icon-57x57-precomposed.png">
-->

<!-- Tile icon for Win8 (144x144 + tile color) -->
<!--
<meta name="msapplication-TileImage" content="./img/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#980165">
-->

<!-- Generic Icon -->
<!--
<link rel="shortcut icon" href="./img/touch/touch-icon-57x57.png">
-->

<!-- Chrome Add to Homescreen -->
<!--
<link rel="shortcut icon" sizes="196x196" href="./img/touch/touch-icon-196x196.png">

<meta name="apple-mobile-web-app-title" content="Self Bank">
-->

<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="./vendor/owl.carousel/dist/assets/owl.carousel.min.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="./vendor/owl.carousel/dist/assets/owl.theme.default.css">

<!-- Estilos -->
<link rel="stylesheet" href="./css/style.css">

<!-- Html5 old IE fallback -->
<!--[if lt IE 9]>
    <script src="./vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="./vendor/respondJs/dest/respond.min.js"></script>
<![endif]-->

<script src="./vendor/modernizr/modernizr.js"></script>