/*------------------------------------*\
    #ELEMENTOS-CENTRADOS
\*------------------------------------*/

/**
 * Añado  varias clases para centrar elementos en X y en Y.
 */

.elemento-centrado--vertical {
	position: relative;
}

.elemento-centrado--vertical__contenedor {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	@include translate(-50%, -50%);
	> :last-child {
		@include no-margin-bottom;
	}
}