/*------------------------------------*\
    #FONDOS
\*------------------------------------*/

/**
 * Variables:
 *
 * $fondo-claro
 * $fondo-oscuro
 * $fondo-tintado
 * $veladura-suave
 * $veladura-fuerte
 * $veladura-patron
 */

/**
 * Colores de fondo
 */

.fondo--claro {
	&,
	&:before {
		background-color: $fondo-claro;
	}
}

.fondo--oscuro {
	&,
	&:before {
		background-color: $fondo-oscuro;
	}
}

.fondo--tintado {
	&,
	&:before {
		background-color: $fondo-tintado;
	}
}

/**
 * Veladuras:
 *
 * La opacidad de la veladura suave y fuerte se define en la hoja de 
 * variables. La opacidad y las imágenes de fondo de las veladuras de tipo 
 * patron las definimos en los estilos personalizados de la obra del mes
 * correspondiente (están en la carpeta '_sass/modulos').
 */

.fondo--veladura--suave,
.fondo--veladura--fuerte,
.fondo--veladura--patron {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}

.fondo--veladura--suave {
	&:before {
		opacity: $veladura-suave;
	}
}

.fondo--veladura--fuerte {
	&:before {
		opacity: $veladura-fuerte;
	}
}

/**
 * Imagenes de fondo
 */

.fondo--imagen--centrada,
.fondo--imagen--arriba,
.fondo--imagen--abajo {
	background-size: cover;
}

.fondo--imagen--centrada {
	background-position: center;
}

.fondo--imagen--arriba {
	background-position: top;
}

.fondo--imagen--abajo {
	background-position: botttom;
}