/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Variables:
 *
 * $font-family-h1
 * $font-family-h2
 * $font-family-h3
 * $font-family-h4
 * $font-family-h5
 * $font-family-h6
 *
 * $font-family-negrita
 * $font-weight-negrita
 * $color-negrita
 *
 */

/**
 * Añado  varias clases para dar formato a textos directamente.
 */

.fuente-grande {
	@include font-size-large;
}

.fuente-base {
	@include font-size-base;
}

.fuente-pequena {
	@include font-size-small;
}

strong,
.fuente-negrita {
	font-family: $font-family-negrita;
	font-weight: $font-weight-negrita;
	color: $color-negrita;
}

/**
 * Sobreescribo varios estilos que Bootstrap añade a los Títulos de sección, y 
 * los extiendo para controlar su tamaño de fuente y su familia tipográfica.
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@include no-margin-top;
	@include margin-bottom-xs;
}

h1,
.h1 {
	@include font-size-h1;
	font-family: $font-family-h1;
}

h2,
.h2 {
	@include font-size-h2;
	font-family: $font-family-h2;
}

h3,
.h3 {
	@include font-size-h3;
	font-family: $font-family-h3;
}

h4,
.h4 {
	@include font-size-h4;
	font-family: $font-family-h4;
}

h5,
.h5 {
	@include font-size-h5;
	font-family: $font-family-h5;
}

h6,
.h6 { 
	@include font-size-h6;
	font-family: $font-family-h6;
}

/**
 * Añadimos algo de espacio en blanco extra para separar un elemento de un 
 * título de sección.
 */

p,
ul,
ol,
dl,
table,
blockquote {
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		@include margin-top-xs;
	}
}

/**
 * Blockquotes: sobreescribo y añado varias reglas de estilos.
 */

blockquote {
	@include no-padding;
	@include margin-bottom-sm;
	border: none;
	font-family: $font-museo-bold;
	@include font-size-blockquote;
	color: $blockquote-color;
	line-height: $blockquote-line-height;
	&.blockquote--izquierda,
	&.blockquote--derecha {
		@include margin-bottom-xs;
		@include padding-vertical-xs;
		@include padding-left-xs;
		border-left: 1px solid $blockquote-border-color;
		@media (min-width: $screen-sm-min) {
			max-width: 45%;
		}
		@media (min-width: $screen-lg-min) {
			max-width: $blockquote-max-width;
		}
	}
	&.blockquote--izquierda {
		@media (min-width: $screen-sm-min) {
			@include margin-right-sm;
			@include padding-right-sm;
			@include no-padding-left;
			float: left;
			text-align: right;
			border-left: none;
			border-right: 1px solid $blockquote-border-color;	
		}
		@media (min-width: $screen-lg-min) {
			margin-left: -115px;
		}
	}
	&.blockquote--derecha {
		@media (min-width: $screen-sm-min) {
			@include margin-left-xs;
			@include padding-left-sm;
			float: right;
		}
		@media (min-width: $screen-lg-min) {
			margin-right: -100px;
		}
	}
	&.blockquote--destacado {
		@include no-margin-bottom;
		@include padding-vertical-md;
		font-size: $blockquote-destacado-font-size;
		text-align: center;
		@media (min-width: $screen-lg-min) {
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		&:before {
			@include spriteInline(sprite1, 6, 0, 103px, 80px);
		}
		&:after {
			@include spriteInline(sprite1, 9, 0, 103px, 80px);
		}
	}
}