/*
  Incluye:
	- Fuentes propias
	- Colores propias
    - Variables sobreescritas de bootstrap
    - Variables propias 
*/



/*
	Fuentes propias
*/

$font-museo-bold: 		  	'PFDinTextPro-Bold', Helvetica, Arial, sans-serif;
$font-museo-bold-italic: 	'PFDinTextPro-BoldItalic', Helvetica, Arial, sans-serif;
$font-museo-regular: 	  	'PFDinTextPro-Regular', Helvetica, Arial, sans-serif;
$font-museo-thin: 		  	'PFDinTextPro-Thin', Helvetica, Arial, sans-serif;
$font-museo-thin-italic: 	'PFDinTextPro-ThinItalic', Helvetica, Arial, sans-serif;

/*
	Colores propios
*/

$white-dark: 				#f3f3f3;

/*
	Variables sobreescritas de bootstrap
*/

$gray-darker: 				#222;
$gray-dark: 				#333;
$gray:                      #666;
$gray-light: 				lighten(#777, 8%);
$gray-lighter: 				#eee;

$brand-primary: 		    #1ABB9C;

$text-color: 				$gray;

$font-family-sans-serif: 	$font-museo-thin;

$font-size-base: 			22px;
$font-size-large:         	28px;
$font-size-small:         	12px;

$font-size-h1:            	60px;
$font-size-h2:            	42px;
$font-size-h3:            	38px;
$font-size-h4:            	28px;
$font-size-h5:            	24px;
$font-size-h6:            	20px;

$line-height-base: 			1.6;

$headings-font-weight:    	normal;
$headings-color:          	$gray-dark;

$bootstrap-sass-asset-helper:		(twbs-font-path("") != unquote('twbs-font-path("")')) !default;
$icon-font-path: 					if($bootstrap-sass-asset-helper, "bootstrap/", "../vendor/bootstrap-sass-official/assets/fonts/bootstrap/") !default;

$navbar-height:                    70px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             0;
$navbar-collapse-max-height:       340px;

$navbar-inverse-bg:                $gray-dark;
$navbar-inverse-border:            $gray-dark;
$navbar-inverse-color:             #fff;

$navbar-inverse-link-color:        $gray-light;

$navbar-inverse-toggle-border-color:       transparent;
$navbar-inverse-toggle-hover-bg:           darken($gray-dark, 3%);

/*
	Variables propias
*/

$font-size-md-conversor: 	940 / 1140;
$font-size-sm-conversor: 	720 / 1140;

$font-size-base-lg: 		$font-size-base;
$font-size-base-md: 		20px;
$font-size-base-sm: 		19px;
$font-size-base-xs: 		18px;

$font-size-large-lg: 		$font-size-large;
$font-size-large-md: 		$font-size-large;
$font-size-large-sm: 		$font-size-large;
$font-size-large-xs: 		20px;

$font-size-small-lg: 		$font-size-small;
$font-size-small-md: 		$font-size-small;
$font-size-small-sm: 		$font-size-small;
$font-size-small-xs: 		$font-size-small;

$font-size-h1-lg: 			$font-size-h1;
$font-size-h1-md: 			ceil($font-size-h1 * $font-size-md-conversor);
$font-size-h1-sm: 			ceil($font-size-h1 * $font-size-sm-conversor);
$font-size-h1-xs: 			$font-size-h1-sm;

$font-size-h2-lg: 			$font-size-h2;
$font-size-h2-md: 			ceil($font-size-h2 * $font-size-md-conversor);
$font-size-h2-sm: 			ceil($font-size-h2 * $font-size-sm-conversor);
$font-size-h2-xs: 			$font-size-h2-sm;

$font-size-h3-lg: 			$font-size-h3;
$font-size-h3-md: 			ceil($font-size-h3 * $font-size-md-conversor);
$font-size-h3-sm: 			ceil($font-size-h3 * $font-size-sm-conversor);
$font-size-h3-xs: 			$font-size-h3-sm;

$font-size-h4-lg: 			$font-size-h4;
$font-size-h4-md: 			ceil($font-size-h4 * $font-size-md-conversor);
$font-size-h4-sm: 			ceil($font-size-h4 * $font-size-sm-conversor);
$font-size-h4-xs: 			$font-size-h4-sm;

$font-size-h5-lg: 			$font-size-h5;
$font-size-h5-md: 			ceil($font-size-h5 * $font-size-md-conversor);
$font-size-h5-sm: 			ceil($font-size-h5 * $font-size-sm-conversor);
$font-size-h5-xs: 			$font-size-h5-sm;

$font-size-h6-lg: 			$font-size-h6;
$font-size-h6-md: 			ceil($font-size-h6 * $font-size-md-conversor);
$font-size-h6-sm: 			ceil($font-size-h6 * $font-size-sm-conversor);
$font-size-h6-xs: 			$font-size-h6-sm;

$font-family-h1: 			$font-museo-bold;
$font-family-h2: 			$font-museo-bold;
$font-family-h3: 			$font-museo-thin;
$font-family-h4: 			$font-museo-bold;
$font-family-h5: 			$font-museo-bold;
$font-family-h6: 			$font-museo-bold;

$font-family-negrita: 		$font-museo-bold;
$font-weight-negrita: 		normal;

$color-negrita: 			$headings-color;

$space-unit-xs: 			15px;
$space-unit-sm:  			($space-unit-xs * 2); 		// 30px
$space-unit-md:  			($space-unit-xs * 3); 		// 45px
$space-unit-lg:  			($space-unit-xs * 4); 		// 60px
$space-unit-xl:  			($space-unit-xs * 5); 		// 75px
$space-unit-xxl:  			($space-unit-xs * 8); 		// 120px

$space-unit-xxs: 			($space-unit-xs / 1.5); 	// 10px
$space-unit-xxxs:  			($space-unit-xs / 3);   	// 5px

$fondo-oscuro: 				$gray-dark;
$fondo-claro: 				$white-dark;
$fondo-tintado: 			$brand-primary;

$veladura-suave: 			.25;
$veladura-fuerte: 			.75;

$color-claro: 				#fff;
$color-medio: 				$gray-light;

$font-size-hero-titulo: 			72px;
$font-size-hero-titulo-lg: 			$font-size-hero-titulo;
$font-size-hero-titulo-md: 			ceil($font-size-hero-titulo * $font-size-md-conversor);
$font-size-hero-titulo-sm: 			ceil($font-size-hero-titulo * $font-size-sm-conversor);
$font-size-hero-titulo-xs: 			36px;

$font-size-hero-subtitulo: 			72px;
$font-size-hero-subtitulo-lg: 		$font-size-hero-subtitulo;
$font-size-hero-subtitulo-md: 		ceil($font-size-hero-subtitulo * $font-size-md-conversor);
$font-size-hero-subtitulo-sm: 		ceil($font-size-hero-subtitulo * $font-size-sm-conversor);
$font-size-hero-subtitulo-xs: 		36px;

$font-family-hero-titulo: 			$font-museo-bold;
$font-family-hero-subtitulo: 		$font-museo-thin;

$carousel-color-por-defecto: 	lighten($gray-light, 15%);
$carousel-color-invertido: 		#fff;

$blockquote-line-height: 			1.2;
$blockquote-color: 					$headings-color;
$blockquote-max-width: 				360px;

$font-size-blockquote-lg: 			30px;
$font-size-blockquote-md: 			25px;
$font-size-blockquote-sm: 			24px;
$font-size-blockquote-xs: 			21px;

$font-size-blockquote-destacado-lg:	40px;
$font-size-blockquote-destacado-md:	36px;
$font-size-blockquote-destacado-sm:	36px;
$font-size-blockquote-destacado-xs:	30px;

$font-size-seccion-entradilla-lg:	26px;
$font-size-seccion-entradilla-md:	24px;
$font-size-seccion-entradilla-sm:	22px;
$font-size-seccion-entradilla-xs:	21px;

$font-size-ladillo-lg: 		150px;
$font-size-ladillo-md: 		130px;
$font-size-ladillo-sm: 		120px;
$font-size-ladillo-xs: 		100px;

$ladillo-max-width: 		360px;
$ladillo-border-color: 		$gray-lighter;